<!DOCTYPE html>
<html lang="en">

<head>
    <title>Drop an Idea here</title>
    <% include partials/head.ejs %>
</head>

<body>

    <div id="wrapper">

        <% include partials/sidebarMenu.ejs %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                      <p align="center" class="headingFont">
                        Share an Idea !!!
                      </p>
                      <br/>

                   <blockquote class="mainLines">
                   In philosophy, ideas are usually construed as mental representational images of some object.
                   Ideas can also be abstract concepts that do not present as mental images.
                   Many philosophers have considered ideas to be a fundamental ontological category of being.
                  </blockquote>

                  <blockquote class="mainLines">
                    Plato was one of the earliest philosophers to provide a detailed discussion of ideas.
                    Plato argued in dialogues such as the Phadeo, Symposium, Republic, and Timaeus that 
                    there is a realm of ideas or forms.which exist independently of anyone who may have thoughts of these ideas,
                    and it is the ideas which distinguish mere opinion from knowledge,for unlike material things which are transient and liable to contrary properties, 
                    ideas are unchanging and nothing but just what they are. Consequently,Plato seems to assert that material things can only be the objects of opinion; 
                    real knowledge can only be had of unchanging ideas <a href="/stories">here</a> or <a href="/new-story">write your own idea</a>
                  </blockquote>

                  </div>
           </div>
         </div>
      </div>


  </div>

  <% include partials/jsIncludes.ejs %>

</body>

</html>
